.pages-error {
    & .page-panel {
        padding:50px;
    }
    & p {
        width:100%;
        font-size:22px;
        text-align:center;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        padding:20px 0px 20px 0px;
    }
}
