.pages-about {
    & .canvas {
        width: 30%;
        margin:0 35%;
    }

& .line {
  fill: #1c1a16;
  stroke: white;
  stroke-width: 10;
  transition: .2s all;
  transform-origin: bottom center;
}

& img[alt=icon] {
    margin:0 5px;
}
}
