.archive-separator-link {
      padding:5px 5px;
      color:#384152;
      font-size:.82857em;
      border-radius:5px;
      border: 1px solid #e6e7eb;
      line-height:30px;
      &:active,&:hover {
          border: 1px solid var(--bright-color);
          color: var(--bright-color);
      }
  }
  .archive-separator-count {
      color:#9ca2ae;
      margin-left:5px;
  }
