html {
    height:100%;
}
body {
    background-color:var(--body-bg-color);
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:'Times New Roman',monospace,'Heti Song',serif;
    word-break: break-all;
    -webkit-font-smoothing: antialiased;
}
@media (min-width:960px) {
    body {
        padding: 0px 40px;
        }
    .main {
        box-shadow: 0 0 5px rgba(0,0,0,1);
        }
        .menu-item {
            height:-50px;
        }
        .menu-item span {
            display:none;
        }
}
#header {
    flex: 0 0 auto;
}
#main {
    flex: 1 0 auto;
}
.page-navigator {
    flex: 0 0 auto;
}
h1,h2,h3,h4,h5 {
    font-weight: 800;
}

.highlight {
    overflow:auto;
}

a {
    color:var(--text-color);
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
}
a:active,a:hover {
    color:var(--bright-color)
}
img {
    max-width:100%;
    }
hr {
  border: 0.5px solid #eee;
  background: #eee;
  border-radius: 5px;
  margin: 15px 0;
} 

code {
    padding:0.065em 0.4em;
    color:#444444;
    border-radius: 5px;
    background:#eeeeee;
    font-size:0.87em;
    /*border: 1px solid #eee;*/
}

.heimu {
    color: #000;
    background-color: #000;
    &:hover {
        color: #fff;
    }
}

input {
    background:#000;
    &[type=checkbox] {
        color:#000;
        font-size:12px;
        position: relative;
        left:calc(1px - 100vw);
        top: 5px;
    }
    &:disabled{
        cursor:not-allowed;
        background-color:red;
        opacity:1;
        &:after {
            font-family:"Font Awesome 6 Pro";
            content:"";
            position: relative;
            left:calc(1px + 100vw);
        }
    }
    &:checked {
        &:after{
            font-family:"Font Awesome 6 Pro";
            content:"";
            position: relative;
            left:calc(1px + 100vw);
        }
    }
}


#loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}
#loader-info {
    display:none;
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50% - 40px);
    color:#000;
    text-align: center;
    line-height: 25px;
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #afb4ba;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}

