:root {
  --body-bg-color: #f4f8fb;
  --content-bg-color: #fff;
  --text-color: #384152;
  /*--blockquote-color: @blockquote-color;
  --link-color: @link-color;
  --link-hover-color: @link-hover-color;
  --brand-color: @brand-color;
  --brand-hover-color: @brand-hover-color;
  --table-row-odd-bg-color: @table-row-odd-bg-color;
  --table-row-hover-bg-color: @table-row-hover-bg-color;
  --menu-item-bg-color: @menu-item-bg-color;
  --btn-default-bg: @btn-default-bg;
  --btn-default-color: @btn-default-color;
  --btn-default-border-color: @btn-default-border-color;
  --btn-default-hover-bg: @btn-default-hover-bg;
  --btn-default-hover-color: @btn-default-hover-color;
  --btn-default-hover-border-color: @btn-default-hover-border-color;*/
  --bright-color: #ff7fb0;
  /*突出粉色*/
  --border-color: #e6e7eb;
  /*边框颜色*/
  --header-icon-color: #6b7380;
  /*头部图标色*/
}
html {
  height: 100%;
}
body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Times New Roman', monospace, 'Heti Song', serif;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 960px) {
  body {
    padding: 0px 40px;
  }
  .main {
    box-shadow: 0 0 5px #000000;
  }
  .menu-item {
    height: -50px;
  }
  .menu-item span {
    display: none;
  }
}
#header {
  flex: 0 0 auto;
}
#main {
  flex: 1 0 auto;
}
.page-navigator {
  flex: 0 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}
.highlight {
  overflow: auto;
}
a {
  color: var(--text-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active,
a:hover {
  color: var(--bright-color);
}
img {
  max-width: 100%;
}
hr {
  border: 0.5px solid #eee;
  background: #eee;
  border-radius: 5px;
  margin: 15px 0;
}
code {
  padding: 0.065em 0.4em;
  color: #444444;
  border-radius: 5px;
  background: #eeeeee;
  font-size: 0.87em;
  /*border: 1px solid #eee;*/
}
.heimu {
  color: #000;
  background-color: #000;
}
.heimu:hover {
  color: #fff;
}
input {
  background: #000;
}
input[type=checkbox] {
  color: #000;
  font-size: 12px;
  position: relative;
  left: calc(1px - 100vw);
  top: 5px;
}
input:disabled {
  cursor: not-allowed;
  background-color: red;
  opacity: 1;
}
input:disabled:after {
  font-family: "Font Awesome 6 Pro";
  content: "";
  position: relative;
  left: calc(1px + 100vw);
}
input:checked:after {
  font-family: "Font Awesome 6 Pro";
  content: "";
  position: relative;
  left: calc(1px + 100vw);
}
#loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
#loader-info {
  display: none;
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% - 40px);
  color: #000;
  text-align: center;
  line-height: 25px;
}
@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
#box {
  width: 50px;
  height: 50px;
  background: #afb4ba;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
.page-panel {
  padding: 10px 20px;
  margin-top: 10px;
  border-bottom: 1px solid #EEE;
  background: var(--content-bg-color);
  /*height:calc(100% - 31px);*/
  height: calc(100% - 40px);
  font-size: 14px;
  line-height: 25px;
}
.page-panel .page-title {
  margin: 0.83em 0;
  font-size: 1.6em;
  font-weight: 400;
  padding-bottom: 10px;
}
.page-panel .list-title {
  border-left: thick solid var(--bright-color);
  padding-left: 15px;
}
@media (min-width: 960px) {
  .page-panel #list-content {
    column-count: 2;
    column-gap: 20px;
  }
}
.page-panel #list-content {
  opacity: 0;
  transition: opacity 3s;
}
.page-panel #list-content.list-content-show {
  opacity: 1;
}
.page-panel h1,
.page-panel h2,
.page-panel h3,
.page-panel h4,
.page-panel h5,
.page-panel h6 {
  font-weight: bold;
}
.page-panel ul {
  padding: 0 0 0 16px;
}
.page-panel input {
  background: #000;
}
.page-panel input[type=checkbox] {
  color: #000;
  font-size: 12px;
  position: relative;
  left: calc(1px - 100vw);
  top: 5px;
}
.page-panel input:disabled {
  cursor: not-allowed;
  background-color: red;
  opacity: 1;
}
.page-panel input:disabled:after {
  font-family: "Font Awesome 6 Pro";
  content: "";
  position: relative;
  left: calc(1px + 100vw);
}
.page-panel input:checked:after {
  font-family: "Font Awesome 6 Pro";
  content: "";
  position: relative;
  left: calc(1px + 100vw);
}
.pages-index .page-panel,
.pages-category .page-panel,
.pages-tags .page-panel,
.pages-archive .page-panel {
  height: auto;
}
.pages-index .page-panel .page-title,
.pages-category .page-panel .page-title,
.pages-tags .page-panel .page-title,
.pages-archive .page-panel .page-title {
  font-size: 1em;
  border-bottom: none;
  padding-bottom: 0;
}
#nav-menu {
  margin: 0 0 0;
  padding: 0;
  background: var(--content-bg-color);
  display: flex;
  border-bottom: 1px solid var(--border-color);
}
#nav-menu a {
  color: var(--header-icon-color);
}
.menu-item {
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 17px;
  width: 52px;
  flex-grow: 1;
  text-align: center;
  color: var(--header-icon-color);
}
.menu-item a i {
  font-size: 23px;
  line-height: 25px;
}
.menu-item span {
  font-size: 10px;
  line-height: 25px;
}
#nav-menu .current,
#nav-menu a:hover {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  color: var(--bright-color);
}
#archive-box {
  background: var(--content-bg-color);
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}
.index-list {
  font-size: 15px;
}
.index-list ul {
  list-style-type: none;
  padding: 0;
}
.index-list li {
  white-space: nowrap;
  list-style-position: inside;
  text-overflow: ellipsis;
  margin: 0.5em 0;
  vertical-align: middle;
  display: flex;
  line-height: 24px;
}
.index-list .fad {
  font-size: 10px;
  text-align: center;
  padding: 7px 4px 0px 0px;
}
.index-list a {
  flex: 1;
  max-width: calc(100% - 79px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.index-list span {
  width: 75px;
  color: #999;
}
.page-navigator {
  color: #fff;
  margin: 25px;
  text-align: center;
}
.page-number,
.extend {
  margin: 7px 4px;
  padding: 0 10px;
  font-size: 10px;
  color: #000;
  line-height: 30px;
  height: 30px;
  background: var(--content-bg-color);
  display: inline-block;
  border-radius: 2px;
  font-family: monospace;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.page-navigator .current {
  background-color: #212121;
  color: #fff;
  min-width: 10px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}
.page-navigator .current a {
  color: #444;
  background: #EEE;
}
.footer {
  padding: 1em 0;
  line-height: 1.5;
  text-align: center;
  background: var(--content-bg-color);
  color: #999999;
  flex: 0 0 auto;
  font-size: 0.8em;
}
.post {
  padding: 10px 20px;
  border-bottom: 1px solid #EEE;
  margin-top: 10px;
  background: var(--content-bg-color);
  height: auto;
}
.post .tags {
  clear: both;
}
.post-title {
  /*margin:.83em 0;*/
  font-size: 22px;
  /*border-bottom: 1px dashed #ccc;*/
  padding-bottom: 10px;
}
.post-meta {
  margin-top: -0.5em;
  padding: 0 0 15px 0;
  color: #999;
  font-size: 0.8em;
  border-bottom: 1px solid #eee;
}
.post-meta li {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 6px;
  color: #757575;
}
.post-meta li .icon {
  display: inline-block;
  /*图标不居中加上面这行*/
  height: 12px;
  width: 12px;
  text-align: center;
  margin-right: 4px;
}
.post-meta li .meta-name {
  margin-right: 4px;
}
.post-meta li .tags-link:before {
  content: "#";
}
.post-meta li .category-link:before {
  content: '◈';
}
.post-meta li a {
  margin-left: 7px;
}
.post-content {
  line-height: 1.75;
  font-size: 15px;
  font-family: '微软雅黑';
}
.post-content h2 {
  color: #000;
  font-size: 16px;
}
.post-content a {
  color: var(--bright-color);
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content p a:before {
  font-family: "Font Awesome 6 Pro";
  content: "\e1cd";
  margin-right: 5px;
}
.post-content blockquote {
  background: #f6f7f9;
  padding: 10px 20px;
  margin: 10px 0px 10px 0px;
  border-left: solid 3px var(--bright-color);
}
.collection-sub {
  font-size: 0.7em;
}
.archive-block .archive-end {
  background: #fff;
  border-radius: 25px;
  border: 1px solid #e6e7eb;
  display: inline-block;
  padding: 4px 20px;
}
.archive-block .archive-list-block .archive-list-year {
  background: #ff7fb0;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0.0625rem 0 0.625rem 0.0625rem #ff80b066;
  padding: 4px 20px;
  margin-left: 18px;
  color: #fff;
}
.archive-block .archive-list-block ul {
  list-style: none;
  position: relative;
  border-left: 3px solid #7fb3ff;
  margin: 0 0 0 54px;
  padding: 0;
}
.archive-block .archive-list-block ul li {
  display: flex;
  padding: 14px 0 14px 8px;
  line-height: 22px;
}
.archive-block .archive-list-block ul li:first-child {
  padding-top: 35px;
}
.archive-block .archive-list-block ul li:last-child {
  padding-bottom: 25px;
}
.archive-block .archive-list-block ul li time {
  /*background: #90CAF9;*/
  white-space: nowrap;
  position: relative;
  left: -54px;
  display: flex;
  font-size: 12px;
}
.archive-block .archive-list-block ul li time::after {
  background: #fff;
  content: "";
  border-radius: 50%;
  border: 3.14px solid #7fb3ff;
  position: absolute;
  height: 1px;
  width: 1px;
  left: 41px;
  top: 5px;
}
.archive-block .archive-list-block ul li a {
  background: #7fb3ff;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding: 4px 11px 4px 2px;
  position: relative;
  left: -20px;
  top: -6px;
  display: flex;
  transition: top 0.2s, left 0.2s;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
.archive-block .archive-list-block ul li a:hover {
  top: -4px;
  left: -18px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.archive-block .archive-list-block ul li a:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-right-color: #7fb3ff;
  left: -9px;
  top: 6px;
}
.archive-separator-link {
  padding: 5px 5px;
  color: #384152;
  font-size: 0.82857em;
  border-radius: 5px;
  border: 1px solid #e6e7eb;
  line-height: 30px;
}
.archive-separator-link:active,
.archive-separator-link:hover {
  border: 1px solid var(--bright-color);
  color: var(--bright-color);
}
.archive-separator-count {
  color: #9ca2ae;
  margin-left: 5px;
}
.back-to-top {
  background: #fff;
  bottom: 60px;
  right: -30px;
  text-align: center;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  opacity: 1;
  padding: 0 5px;
  position: fixed;
  transition: right 1s;
  z-index: 9999;
  line-height: 26px;
  width: 28px;
  height: 26px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.back-to-top span {
  display: none;
}
.back-to-top:hover {
  color: #fff;
  background: #0066cb;
}
.back-to-top.back-to-top-on {
  right: 0px;
}
.cog {
  position: fixed;
  background: #fff;
  color: #222;
  bottom: 100px;
  line-height: 26px;
  text-align: center;
  z-index: 9999;
  right: 0px;
  width: 28px;
  height: 26px;
  font-size: 14px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.cog:hover,
.cog:focus {
  background: #0066cb;
  color: #fff;
}
.pages-search input[type=search] {
  background: #fff;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e6e7eb;
  padding: 5px;
}
.pages-search .search-result-container {
  margin-top: 20px;
}
.pages-search .search-result-container img {
  width: calc(100% - 60px);
}
.pages-links .links-item {
  background: var(--content-bg-color);
  height: auto;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
}
.pages-links .links-item a:active,
.pages-links .links-item a:hover {
  color: #fff;
  background-color: var(--bright-color);
}
.pages-links .links-item img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 50px;
  background: var(--content-bg-color);
  z-index: 2;
}
.pages-links .links-item a {
  display: flex;
  padding: 10px 15px;
}
.pages-links .links-item .nr {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.pages-links .item-title {
  font-weight: 700;
}
.pages-links .item-sub {
  font-size: 0.9em;
}
.pages-github h2 span a {
  color: #6b7380;
  font-size: 15px;
}
.pages-github .list-item {
  background: var(--content-bg-color);
  height: auto;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
  page-break-inside: avoid;
}
.pages-github .list-item:hover {
  box-shadow: 0.1px 0.1px 30px 0.1px rgba(0, 0, 0, 0.05) inset;
}
.pages-github .list-item a {
  display: flex;
  padding: 10px 15px;
}
.pages-github .list-item a:hover {
  color: var(--text-color);
}
.pages-github .list-item .list-item-nr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pages-github .list-item .list-item-nr .item-title {
  font-weight: 700;
}
.pages-github .list-item .list-item-nr .item-sub {
  font-size: 0.9em;
  margin: 10px 0;
}
.pages-github .list-item .list-item-nr .item-bar {
  font-size: 0.9em;
}
.pages-github .item-bar .language {
  margin-left: 20px;
}
.pages-github .item-bar .language i {
  width: 11px;
  height: 11px;
  background: #f1e158;
  border-radius: 50%;
  display: inline-block;
}
.pages-github .item-bar .language i[title=HTML] {
  background: #e44c27;
}
.pages-github .item-bar .language i[title=Vue] {
  background: #41b783;
}
.pages-github .item-bar .language i[title=PHP] {
  background: #4e5d94;
}
.pages-github .item-bar .language i[title=Go] {
  background: #00acd9;
}
.pages-github .item-bar .language i[title=Java] {
  background: #af7217;
}
.pages-github .item-bar .language i[title=C] {
  background: #555555;
}
.pages-github .item-bar .language i[title="C++"] {
  background: #f34b7e;
}
.pages-github .item-bar .language i[title=Python] {
  background: #3573a6;
}
.pages-github .item-bar .language i[title=Objective-C] {
  background: #428dfe;
}
.pages-github .item-bar .language i[title=TypeScript] {
  background: #2c748a;
}
.pages-github .item-bar .language i[title=CSS] {
  background: #563e7c;
}
.pages-github .item-bar .language i[title=Shell] {
  background: #89e051;
}
.pages-github .item-bar .language i[title=Ruby] {
  background: #6f1515;
}
.pages-github .item-bar .language i[title="Jupyter Notebook"] {
  background: #da5b0c;
}
.pages-github .item-bar .language i[title=CoffeeScript] {
  background: #254775;
}
.pages-github .item-bar .language i[title=Groovy] {
  background: #4298b9;
}
.pages-github .item-bar .language i[title=Dart] {
  background: #00b4ab;
}
.pages-github .item-bar .language i[title="C#"] {
  background: #178701;
}
.pages-github .item-bar .language i[title=Swift] {
  background: #f15139;
}
.pages-github .item-bar .language i[title=Makefile] {
  background: #42771a;
}
.pages-github .item-bar .language i[title="Vim Script"] {
  background: #199e4b;
}
.pages-github .item-bar .language i[title=Haxe] {
  background: #e07902;
}
.pages-github .item-bar .language i[title=Dockerfile] {
  background: #394d54;
}
.pages-github .item-bar .language i[title=Rust] {
  background: #dda584;
}
.pages-github .item-bar .language i[title=Assembly] {
  background: #6f4c14;
}
.pages-github .item-bar .language i[title=sed] {
  background: #63b970;
}
.pages-github .item-bar .language i[title=R] {
  background: #198ce7;
}
.pages-github .item-bar .language i[title=MATLAB] {
  background: #e16736;
}
.pages-github .item-bar .language i[title=Elixir] {
  background: #6f4a7e;
}
.pages-github .item-bar .forks_count {
  position: absolute;
  right: 15px;
}
.pages-epic .list-item {
  background: var(--content-bg-color);
  height: auto;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
  page-break-inside: avoid;
}
.pages-epic .list-item:hover {
  box-shadow: 10px 10px 30px 20px rgba(0, 0, 0, 0.05) inset;
}
.pages-epic .list-item a {
  display: flex;
  padding: 10px 15px;
}
.pages-epic .list-item a:hover {
  color: var(--text-color);
}
.pages-epic .list-item .list-item-nr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pages-epic .list-item .list-item-nr .item-title {
  font-weight: 700;
  margin: 10px 0;
}
.pages-epic .list-item .list-item-nr .item-sub {
  font-size: 0.9em;
  margin: 10px 0;
}
.pages-epic .list-item .list-item-nr .list-item-bar {
  font-size: 0.9em;
}
.pages-epic .list-item-bar {
  display: flex;
}
.pages-epic .list-item-bar .icon {
  flex: 1;
  text-align: center;
}
.pages-bili .list-item {
  background: var(--content-bg-color);
  height: auto;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
  page-break-inside: avoid;
}
.pages-bili .list-item:hover {
  box-shadow: 10px 10px 30px 20px rgba(0, 0, 0, 0.1) inset;
}
.pages-bili .list-item a {
  display: flex;
  padding: 10px 15px;
}
.pages-bili .list-item a:hover {
  color: var(--text-color);
}
.pages-bili .list-item .list-item-nr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pages-bili .list-item .list-item-nr .item-title {
  font-weight: 700;
  margin-bottom: 5px;
}
.pages-bili .list-item .list-item-nr .item-sub {
  font-size: 0.9em;
  margin: 10px 0;
}
.pages-bili .list-item .list-item-nr .list-item-bar {
  font-size: 0.9em;
}
.pages-bili .list-item-bar {
  display: flex;
}
.pages-bili .list-item-bar .icon {
  flex: 1;
  text-align: center;
}
.pages-bili .page-navigator button {
  border: none;
}
.pages-bili .nonext {
  color: var(--text-color);
}
.pages-error .page-panel {
  padding: 50px;
}
.pages-error p {
  width: 100%;
  font-size: 22px;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0px 20px 0px;
}
.pages-about .canvas {
  width: 30%;
  margin: 0 35%;
}
.pages-about .line {
  fill: #1c1a16;
  stroke: white;
  stroke-width: 10;
  transition: 0.2s all;
  transform-origin: bottom center;
}
.pages-about img[alt=icon] {
  margin: 0 5px;
}
.pages-admin h2 span a {
  color: #6b7380;
  font-size: 15px;
}
.pages-admin .list-item {
  background: var(--content-bg-color);
  height: auto;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 20px;
  position: relative;
  page-break-inside: avoid;
}
.pages-admin .list-item:hover {
  box-shadow: 0.1px 0.1px 30px 0.1px rgba(0, 0, 0, 0.05) inset;
}
.pages-admin input {
  background: #fff;
  width: 100%;
}
.pages-admin textarea {
  height: 200px;
  width: 100%;
}
.pages-admin textarea::-webkit-scrollbar {
  display: none;
}
.pages-admin #admin-header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.pages-admin #admin-header span {
  font-size: 12px;
}
.pages-admin #admin-header span:active,
.pages-admin #admin-header span:hover {
  color: var(--bright-color);
}
.pages-admin #admin-header span:after {
  content: '·';
  margin: 0 8px;
}
.pages-admin #admin-header span:last-child:after {
  content: '';
  margin: 0;
}
main {
  --color-prettylights-syntax-comment: #768390;
  --color-prettylights-syntax-constant: #6cb6ff;
  --color-prettylights-syntax-entity: #dcbdfb;
  --color-prettylights-syntax-storage-modifier-import: #adbac7;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #f47067;
  --color-prettylights-syntax-string: #96d0ff;
  --color-prettylights-syntax-variable: #f69d50;
  --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bg: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #eac55f;
  --color-prettylights-syntax-markup-heading: #316dca;
  --color-prettylights-syntax-markup-italic: #adbac7;
  --color-prettylights-syntax-markup-bold: #adbac7;
  --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
  --color-prettylights-syntax-markup-deleted-bg: #78191b;
  --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
  --color-prettylights-syntax-markup-inserted-bg: #1b4721;
  --color-prettylights-syntax-markup-changed-text: #ffddb0;
  --color-prettylights-syntax-markup-changed-bg: #682d0f;
  --color-prettylights-syntax-markup-ignored-text: #adbac7;
  --color-prettylights-syntax-markup-ignored-bg: #255ab2;
  --color-prettylights-syntax-meta-diff-range: #dcbdfb;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
  --color-btn-text: #adbac7;
  --color-btn-bg: #373e47;
  --color-btn-border: rgba(205, 217, 229, 0.1);
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #444c56;
  --color-btn-hover-border: #768390;
  --color-btn-active-bg: #3d444d;
  --color-btn-active-border: #636e7b;
  --color-btn-selected-bg: #2d333b;
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #347d39;
  --color-btn-primary-border: rgba(205, 217, 229, 0.1);
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #46954a;
  --color-btn-primary-hover-border: rgba(205, 217, 229, 0.1);
  --color-btn-primary-selected-bg: #347d39;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: rgba(205, 217, 229, 0.5);
  --color-btn-primary-disabled-bg: rgba(52, 125, 57, 0.6);
  --color-btn-primary-disabled-border: rgba(205, 217, 229, 0.1);
  --color-fg-default: #adbac7;
  --color-fg-muted: #768390;
  --color-fg-subtle: #545d68;
  --color-canvas-default: #192734;
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: #15202b;
  --color-canvas-subtle: #253341;
  --color-border-default: #444c56;
  --color-border-muted: #373e47;
  --color-neutral-muted: rgba(99, 110, 123, 0.4);
  --color-accent-fg: #539bf5;
  --color-accent-emphasis: #316dca;
  --color-accent-muted: rgba(65, 132, 228, 0.4);
  --color-accent-subtle: rgba(56, 139, 253, 0.15);
  --color-success-fg: #57ab5a;
  --color-danger-fg: #e5534b;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-primer-shadow-focus: 0 0 0 3px #143d79;
  --color-scale-gray-7: #373e47;
  --color-scale-blue-8: #143d79;
  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
  color-scheme: dark;
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}
/*! Custom CSS */
.gsc-reactions-count {
  display: none;
}
.gsc-timeline {
  flex-direction: column-reverse;
}
.gsc-header {
  padding-bottom: 1rem;
}
.gsc-comments > .gsc-header {
  order: 1;
}
.gsc-comments > .gsc-comment-box {
  margin-bottom: 1rem;
  order: 2;
}
.gsc-comments > .gsc-timeline {
  order: 3;
}
.gsc-homepage-bg {
  background-color: #15202b;
}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  outline-offset: -2px;
  /* 2 */
  -webkit-appearance: textfield;
  /* 1 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  font: inherit;
  /* 2 */
  -webkit-appearance: button;
  /* 1 */
}
/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
table {
  font-size: 14px;
  width: 100%;
  margin: 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
  overflow-y: auto;
  word-break: normal;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #eeeeee;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
td,
th {
  border-right: 1px solid #ddd;
  /*border-bottom:3px solid #ddd;*/
  font-weight: 400;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
th {
  font-weight: 700;
  padding-bottom: 10px;
}
td {
  border-bottom-width: 1px;
}
.highlight-container {
  position: relative;
}
.highlight-container:hover .copy-btn,
.highlight-container .copy-btn:focus {
  opacity: 1;
}
.copy-btn {
  color: #000;
  cursor: pointer;
  line-height: 1.6;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  background-color: #fff;
  background-image: linear-gradient(#fcfcfc, #fff);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  right: 4px;
  top: 8px;
}
.code-block,
.highlight,
pre {
  background: #f7f7f7;
  color: #4d4d4c;
  margin: 0 auto 20px;
}
pre,
code {
  font-family: monospace;
}
code {
  background: #f7f7f7;
  border-radius: 3px;
  color: #4d4d4c;
  padding: 2px 4px;
}
.highlight *::selection {
  background: #d6d6d6;
}
.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  border: 0;
  margin: 0;
  width: auto;
}
.highlight td {
  border: 0;
  padding: 0;
}
.highlight figcaption {
  background: #eff2f3;
  color: #4d4d4c;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  padding: 0.5em;
}
.highlight figcaption a {
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter {
  user-select: none;
}
.highlight .gutter pre {
  background: #eff2f3;
  color: #869194;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.highlight .code pre {
  background: #f7f7f7;
  padding-left: 10px;
  width: 100%;
}
.gist table {
  width: auto;
}
.gist table td {
  border: 0;
}
pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  background: none;
  color: #4d4d4c;
  padding: 0;
  text-shadow: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #eab700;
  user-select: none;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.comments {
  margin-top: 60px;
  overflow: hidden;
}
.comment-button-group {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 1em 0;
}
.comment-button-group .comment-button {
  margin: 0.1em 0.2em;
}
.comment-button-group .comment-button.active {
  background: var(--btn-default-hover-bg);
  border-color: var(--btn-default-hover-border-color);
  color: var(--btn-default-hover-color);
}
.comment-position {
  display: none;
}
.comment-position.active {
  display: block;
}
.tabs-comment {
  background: var(--content-bg-color);
  margin-top: 4em;
  padding-top: 0;
}
.tabs-comment .comments {
  border: 0;
  box-shadow: none;
  margin-top: 0;
  padding-top: 0;
}
