.page-navigator {
    color:#fff;
    margin:25px;
    text-align:center;
}
.page-number, .extend {
    margin:7px 4px;
    padding:0 10px;
    font-size:10px;
    color:#000;
    line-height:30px;
    height:30px;
    background: var(--content-bg-color);
    display:inline-block;
    border-radius:2px;
    font-family:monospace;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)
}
.page-navigator .current {
    background-color:#212121;
    color:#fff;
    min-width:10px;
}
.page-navigator a:hover {
    background:#EEE;
    text-decoration:none
}
.page-navigator .current a {
    color:#444;
    background:#EEE
}
