.pages-search {
    input[type=search]{
        background:#fff;
        width:100%;
        border-radius: 4px;
        border: 1px solid #e6e7eb;
        padding:5px;
        }
        .search-result-container {
            margin-top: 20px;
            & img {
                width:calc(100% - 60px);
            }
    }
}
